/* 1. Globals and typography
-----------------------------------------------------------------------------------------------------------*/

* {
    font-family: Arial, 'Lobster', sans-serif;
    font-weight: 300;
    text-shadow: none !important;
}

.font-highlight {
    font-family: 'Lobster', sans-serif;
}


div[data-role=content] img {
    width: 100%;
}

p, a {
    line-height: 1.66;
    font-weight: 300 !important;
}

a {
    color: #7a67c0;
}

code, pre {
    white-space: pre-wrap;     
    white-space: -moz-pre-wrap;  
    white-space: -pre-wrap;  
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: #333;
    color: #c9de7c;
    border-left: 5px solid #383838;
    text-shadow: none !important;
    padding: 9px 5px 8px 5px;
    display: block;
    font-size: 12px;
}

code {
    display: inline-block;
    padding: 2px 4px 2px 0px;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.color-highlight {
    color: #EC746F;
}

.ui-popup .ui-btn {
    padding-top: .2em;
    padding-bottom: .2em;
}

.ui-popup p {
    text-align: center;
    font-weight: bold!important;
    color:#000000;
}

.btnshop_confirm {
    margin-bottom: -8px;
}

.btnshop_confirm tr td {
    border-top: 1px solid #898989;
    width: 50%;
    padding: 8px;
}

.btnshop_confirm tr td a {
    font-weight: bold!important;
    font-size: 1.1em!important;
    text-decoration: none;
}

.btnshop_confirm tr td:first-child {
    border-right: 1px solid #898989;
}

.ui-content {
    padding: .5em;
    margin-top: 48px;
}

#eventList .ui-content, #mshop .ui-content, #favorite .ui-content {
    margin-top: 96px;
}

#eventList .ui-header, #mshop .ui-header, #favorite .ui-header {
    height: 96px;
}


.ui-header .ui-btn-icon-left {
    margin-left: 12px;
    margin-top: 5px;
}

.align-center {
    text-align: center !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.image-inner {
    width: 75% !important;
    max-width: 270px !important;
    display: block;
    padding: 12px 0;
    text-align: center;
    margin: 0 auto;
}

.fullwidth {
    width: 110% !important;
    width: calc(100% + 32px) !important;
    width: -webkit-calc(100% + 32px) !important;
    margin-left: -16px !important;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1;
}

h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 1;
}

h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    text-transform: capitalize;
}

h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 1px;
}

h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
}

.ui-header .ui-navbar {
    width: 95%;
    max-width: 600px;
    margin: 50px auto 0;
    clear: both;
    display: block;

}

.ui-header .ui-navbar li .ui-btn {
    font-size: 16px;
    padding: 7px;
    border-width: 1px!important;
}

.ui-header .ui-navbar li:first-child .ui-btn {
    border-radius: 10px 0 0 10px!important;
 }

 .ui-header .ui-navbar li:last-child .ui-btn {
    border-radius: 0 10px 10px 0!important;
 }

 .error {
     text-align: center;
     color: red;
 }

img.ajax-loading {
    width: 16px!important;
    height: 16px;
}
  
.ui-overlay-c,.ui-page-theme-c,.ui-page-theme-c .ui-panel-wrapper{background-color:#ffffff ;border-color:#ffffff ;color:#7d7d7d ;text-shadow:0  1px  0  #f3f3f3 ;}
 
/* 2. jQuery Mobile UI styling
-----------------------------------------------------------------------------------------------------------*/

.ui-mobile .ui-page-active {
    overflow-y: hidden;
}

.ui-page.welcome .ui-panel-wrapper {
    background : transparent url("./../images/welcome.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}​

.welcome {}

.welcome > div > div, .welcome > div > h1  {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.welcome h1 {
    text-align: center;
}

.welcome img {
    width: 85%;
}

.social-login {
    max-width: 300px;
    margin: 8% auto 4%;
}

.email-login-link a {
    color: #ffffff!important;
    text-decoration: none;
}

#repassword {
    display: none;
}

#loginErr {
    display: none;
}

#loginErr.show {
    display: block;
}

button .fa, a .fa {
    margin-right: 10px;
}

#login .email-login {
    max-width: 300px;
    margin: 10% auto;
}

#login .email-login p {
    text-align: center;
    margin-bottom: 1em;
    color: #ffffff;
    font-weight: bold!important;
}

#login .email-login input {
    background: #ffffff;
    color: #000000;
}

#login .email-login .ui-input-text, #login .email-login .ui-input-search {
    border: none;
}

.ui-focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.ui-focus {
    border: 1px solid #EC746F !important;
}

.ui-focus[data-theme=b] {
    border: 1px solid #3388cc !important;
}

.highlight {
    background: #eee;
    padding: 0px .15em;
}

.highlight[data-theme=a] {
    background: #ebce24;
    color: #fff;
}

.highlight[data-theme=b] {
    background: #3388cc;
    color: #fff;
}

.ui-popup {
    background: #f8f8f8 !important;
    border: none !important;
}

[data-border="false"] {
    border: none !important;
    outline: none !important;
}

[data-border="true"] {
    border: 1px solid #efe6e6 !important;
}

.ui-tag {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff !important;
    padding: 0px 5px;
    margin: 5px 1px;
    letter-spacing: -0.5px;
}

.ui-tag[data-theme=a] {
    background: #ebce24;
}

.ui-tag[data-theme=a]:hover {
    background: #cdb528;
}

.ui-tag[data-theme=b] {
    background: #3388cc;
}

.ui-tag[data-theme=b]:hover {
    background: #4f88b8;
}

.ui-listview {
    margin-top: 1em !important;
    margin-bottom: 0px !important;
    
}

.ui-li-divider {
    text-transform: uppercase;
    font-weight: 300 !important;
    letter-spacing: 1px;
}

.ui-listview h2 {
    font-weight: 300 !important;
    max-width: 150px;
}

.ui-listview li a {
    padding-bottom: -100px !important;
    border: none !important;
} 

.ui-listview .ui-li-aside {
    right: 1em;
}

.ui-table {
    border: 1px solid #b6b9be !important;
}

.ui-table thead {
    background: #4563a0 !important;
    color: #fff !important;
    font-weight: 300 !important;
}

.ui-table th {
    font-weight: 300 !important;
    text-align: center;
}

.ui-table tr {
    border: 1px solid #b6b9be !important;
}

.ui-table td {
    border: 1px solid #b6b9be !important;
    text-align: center;
}

/* 3. Tables
-----------------------------------------------------------------------------------------------------------*/

[data-role="header"] h1 {
    color: #BDBDBE!important;
}

table[data-role=pricing-table] {
    background: #f6eeee;
    border: none;
    width: 100%;
    max-width: 520px;
    display: inline-block;
    color: #574f50;
    margin: 0 auto;
}

table[data-role=pricing-table] tbody th { 
    padding: 12px;
    line-height: 1.66;
}

table[data-role=pricing-table] tr:nth-child(odd) {
    background-color: #f8f8f8;
}

table[data-role=pricing-table] thead th {
    font-size: 18px;
    padding: 10px 0;
    background: #f6eeee !important;
}

table[data-role=pricing-table] .pricing-table-price {
    background: #ebce24 !important;
    color: #ffffff;
    font-size: 48px;
}

table[data-role=pricing-table] .pricing-table-price-b {
    background: #3388cc !important;
}

table[data-role=pricing-table] .pricing-table-pt {
    color: #ffffff;
    font-size: 12px;
    display: block;
    line-height: 12px;
    margin-top: -12px;
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 25px;
    width: 100%;
}

progress::-webkit-progress-bar {
    border: none;
    background: #e8e8e8;
}

progress::-webkit-progress-value {
    background: #454d59;
}

progress[data-theme=a]::-webkit-progress-value {
    background: #ebce24;
}

progress[data-theme=b]::-webkit-progress-value {
    background: #3388cc;
}

progress::-moz-progress-bar {
    border: none;
    background: #e8e8e8;
}

progress::-moz-progress-value {
    background: #454d59;
}

progress[data-theme=a]::-moz-progress-value {
    background: #ebce24;
}

progress[data-theme=b]::-moz-progress-value {
    background: #3388cc;
}

/* 4. NIGTLY Classes
-----------------------------------------------------------------------------------------------------------*/

.nightly-button, .nightly-input {
    background: none;
    border: 1px solid #2f3948;
    color: #2f3948;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 6px 14px;
    text-decoration: none;
}

.nightly-input {
    width: 95%;
    width: calc(100% - 32px);
    width: -webkit-calc(100% - 32px);
    max-width: 480px;
    display: block;
    margin: 0 0 10px 0;
}

.nightly-button[data-theme=a] {
    background: #ebce24;
    border: none;
    color: #ffffff;
}

.nightly-button[data-theme=b] {
    background: #3388cc;
    border: none;
    color: #ffffff;    
}

.nightly-input[data-theme=a] {
    border: 1px solid #ebce24;
}

.nightly-input[data-theme=b] {
    border: 1px solid #3388cc;  
}

.nightly-circle {
    background: none;
    border: 3px solid #2f3948;
    color: #2f3948;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    text-decoration: none;
}

.nightly-circle[data-theme=a] {
    background: #ebce24;
    border: none;
    color: #ffffff;
}

.nightly-circle[data-theme=b] {
    background: #3388cc;
    border: none;
    color: #ffffff;   
}

.nightly-circle i {
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.nightly-text-box {
    background: none;
    border: 1px solid #b6b9be;
    color: #2f3948;
    padding: 15px 10px;
    margin: 5px auto;
    font-size: 14px;
}

.nightly-text-box-title {
    font-size: 14px;
    font-weight: bold !important;
    margin: 0 0 10px 0;
}

.nightly-text-box p {
    margin: 0;
}

.nightly-text-box-a {
    background: #ebce24;
    border: none;
    color: #ffffff;
}

.nightly-text-box-b {
    background: #3388cc;
    border: none;
    color: #ffffff;  
}

.nightly-alert {
    display: block;
    width: 1OO%;
    margin: 10px 0;
    color: #ffffff;
    position: relative;
}

.nightly-alert .fa {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 15px;
}

.nightly-alert p {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400 !important;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.33;
    width: 70%;
    width: calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    position: relative;
    left: 0px;
}

.nightly-alert-info {
    background: #7ab1e9;
}

.nightly-alert-warning {
    background: #4563a0;
}

.nightly-alert-error {
    background: #e95643;
}

.nightly-alert-success {
    background: #73dd65;
}

.nightly-team-box {
    text-align: center;
    margin: 0 auto 48px auto;
    max-width: 480px;
    display: block;
}

.nightly-team-box img {
    width: 100px !important;
    margin: 0 0 18px 0;
}

.nightly-team-box h3 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    margin: 0;
    font-weight: 400;
}

.nightly-team-box h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Oswald", sans-serif;
}

.nightly-team-box p {
    margin: 12px 0 24px 0;
}

.nightly-service-box {
    text-align: center;
    margin: 0 auto 48px auto;
    max-width: 480px;
    display: block;
}

.nightly-service-box h3 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    margin: 24px 0 0 0;
    font-weight: 400;
}

.nightly-service-box p {
    margin: 12px 0 24px 0;
}

.nightly-inline-slider {
    text-align: center;
    margin: 0 auto 60px auto;
    max-width: 960px;
    display: block;
}

.nightly-inline-slider .item {
    margin: 24px;
}

.nightly-inline-slider .owl-nav-left, .nightly-inline-slider .owl-nav-right {
    color: #000 !important;
}

.nightly-inline-gallery {
    text-align: center;
    margin: 0 auto 60px auto;
    max-width: 960px;
    display: block;
}

.nightly-inline-gallery .item {
    margin: 24px auto;
}


/* 5. Header
-----------------------------------------------------------------------------------------------------------*/

[data-role=header] {
    padding: 0;
    width: 100%;
    height: 48px;
    border: none;
    position: fixed;
    z-index: 1000;
}

[data-role=header] #header-menu-icon {
    display: inline-block;
    position: absolute;
    width: 58px;
    left: 8px;
    top: 11px;
}

[data-role=header] #header-search-icon {
    display: inline-block;
    position: absolute;
    width: 20px;
    right: 7px;
    top: 10px;
}

[data-role=header] #a-search {
    width: 36px;
    height: 36px;
}

.ui-bar-c h1 {
    color: #494949!important;
}

#charity-list .ui-collapsible-heading, .ui-collapsible-heading > .ui-btn {
    background: #FFFFFF!important;
}

.ui-collapsible-heading > .ui-btn {
    font-size: 18px!important;
    font-weight: bold!important;
}
.ui-collapsible:first-child .ui-collapsible-heading .ui-btn {
    border-top-width: 0!important;
}

[data-role=header] h1 {
    margin: 0 auto!important;
    padding: 14px 0 10px 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14pt;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    letter-spacing: -0.025;
    font-weight: bold;
    width: 100%;
        
}

[data-role=header] h1 img {
    width: 30px;
}

[data-role=header] .header-back-button {
    display: inline-block;
    margin-top: 3px;
    margin-left: 0px;
    color: #fff !important;
    text-decoration: none;
    font-size: 20px;
}

[data-role=header] .header-back-button i {
    margin-right: 5px;
}

#searchform 
{
    -webkit-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -moz-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -ms-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -o-transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);
    transition: all 450ms cubic-bezier(0.665, 0.165, 0.130, 0.715);

    -webkit-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -moz-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -ms-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    -o-transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    transition-timing-function: cubic-bezier(0.665, 0.165, 0.130, 0.715);
    z-index: -99999999;
    position: relative;
    height: 0;
    width: 100%;
    border: none;
    margin: 0 auto;
    text-align: center;
}

#searchform[data-theme=a]{
    background: #ebce24;
}

#searchform[data-theme=b]{
    background: #3388cc;
}

#searchform .nightly-input {
    width: 90% !important;
    width: calc(100% - 64px) !important;
    width: -webkit-calc(100% - 64px) !important;
    background: transparent;
    display: inline-block;
    margin: 0;
    border: 2px solid #fff;
    margin-top: 10px;
    letter-spacing: normal;
    text-transform: none;
    font-weight: normal;
    color: #fff;
}

#searchform .nightly-button {
    display: inline-block !important;
    background: none;
    margin-top: 12px !important;
    background-image: url('../images/search-icon.png');
    background-size: 15px;
    background-repeat: no-repeat;
    border: none !important;
    position: absolute;
    margin-left:  -30px;
    background-position: center;
    opacity: 0.5;
}

#searchform .nightly-button:hover {
    opacity: 1;
}

#searchform.moved
{
    height: 46px;
    z-index: 1;
}

/* 6. Sliders
-----------------------------------------------------------------------------------------------------------*/


#main-slider {
    width: 110% !important;
    width: calc(100% + 32px) !important;
    width: -webkit-calc(100% + 32px) !important;
    margin: -16px auto 0 -16px;
}

#main-slider .item img{
    display: block;
    width: 100% !important;
    height: auto;
}

#main-slider .item {
    padding: 0 0 30px 0px;
    width: 100% !important;
    text-align: center;
}

#main-slider .item button {
    border: 3px solid #fff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    margin-top: 8px;
    display: block;
    margin: 0 auto;
}


#main-slider .item a {
    text-decoration: none;
}

#main-slider .item .text {
    position: absolute;
    display: inline-block; 
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;	
    color: #fff;
    line-height: 1;
}

#main-slider .item .text h1{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Oswald';
    margin-bottom: 10px;
    margin-top: 18%;
}

#main-slider .item .text h2{
    font-size: 18px;
    display: inline-block; 
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;	
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1;
    max-width: 80%;
}

#profile-table, #creditcard-table {
    width: 100%;
    margin: 10px auto;
}

#profile-table tr td:first-child {
    width: 10%;
    text-align: left;
    padding-right: 10%;
}


#profile-table tr td, #creditcard-table tr td {
    padding: 10px;
    background: #ffffff;
}

#creditcard-table tr td:last-child {
    width: 50%;
    text-align: right;
    padding-right: 5%;
}



/* 7. Sidebars
-----------------------------------------------------------------------------------------------------------*/

[data-role=panel]{
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

[data-role=panel][data-theme=a]{
    background: #efeff4;
    border-right: 1px solid #efeff4;
}

[data-role=panel][data-theme=b]{
    background: #3388cc;
    border-right: 1px solid #3388cc;
}

#sidebar {
    padding: 0;
    background-image: url('./../images/menu-bg.png');
    background-position: right;
    background-repeat: repeat-y;
    background-color: #efeff4;
}

#sidebar .menu-head {
    background-image: url('./../images/menu-li-bg.png');
    background-position: right;
    background-repeat: repeat-y;
    background-color: #ffffff;
    position: relative;
    padding: 25px 0;
    margin: -1em;
}

#sidebar .menu-head > a.logout {
    position: absolute;
    right: 25px;
    top: 15px;
    text-decoration: none;
}

#sidebar .menu-head > img {
    float: left;
    width: 50px!important;
    margin:  0 15px;
}

.menu-user .user {
    width: 220px;
    overflow: hidden;
}

.menu-head .menu-user {
    color: #b1aebe;
    font-size: 14px;
    white-space: nowrap
        
}

#sidebar .menu-head .menu-location {
    color: #eb746e;
    font-size: 14px;
    text-align: center
}

#sidebar ul li {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: none;
    border: none;
    font-size: 10px;
    letter-spacing: 0.2em;
    text-shadow: none;
    font-weight: bold;
    color: #fff;
    margin: 1px 0;
    background-image: url('./../images/menu-li-bg.png');
    background-position: right;
    background-repeat: repeat-y;
    background-color: #ffffff;

}

#sidebar ul li a {
    color: #b1aebe;
    border: none;
    background: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 8px 0 8px 20px;
    background-repeat: no-repeat;
    font-weight: bold;
    letter-spacing: 0;
    background-image: url('./../images/menu-a-arrow.png');
    background-repeat: no-repeat;
    background-position: 240px center;
}

#sidebar ul.sub-menu li a {
    margin-left: 10px;   
}

#sidebar .menu-mark {
    position: absolute;
    margin-left: -8px;
    background: #f00;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    width: 12px;
    padding-left: 4px;
    padding-top: 0px;
    height: 16px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#sidebar .menu-bottom {
    margin: 0 -1em;
    padding-left: 20px;
}

.content-inner {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

/* Charity List
-----------------------------------------------------------------------------------------------*/
.charity {
    background: #ffffff;
    border-bottom: 1px solid #696969;
    display: block;
    padding: 5px;
}

img.charity-list-icon {
    width: 24px!important;

}

/* 8. Event
-----------------------------------------------------------------------------------------------------------*/

#events {
    margin: .1em auto;
}

#events .item, #shops .item, #favorites .item, #mytickets .item, #purchases .item {
    width: 32%;
    margin: .5em .665%;
    float: left;
    background: #ffffff;
}

#event_item, #shop_item, #favorite_item, #share_item  {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

#shop_item .item-image {
    overflow: hidden;
    text-align: center;
}

#shop_item .item-image img {
    width: 300px!important;
}

#event_item {
    margin-bottom: 240px;
}

.item .item-image {
    position: relative;
}

.item .item-image .favitore {
    position: absolute;
    top: .5em;
    right: .5em;
}

.item .item-image .karma {
    position: absolute;
    bottom: 1.5em;
    right: .5em;
    color: #EC746F;
    font-size: 20px;
    font-weight: bold;
}

.karma strong {
    font-family: 'Lobster', sans-serif;
}

.karma span {
    font-weight: bold;
}

.item .item-image .rate {
    position: absolute;
    bottom: .5em;
    right: .5em;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.item .item-posted {
    float: right;
    margin-right: 10px; 
    font-size: .70em; 
}

.item .item-posted span {
    text-transform: uppercase;
}


div.charity-icon {
    width: 54px;
    float: left;
    padding: 15px 12px 10px 10px;
}

.item .item-info {
    margin-left: 75px;
    padding: 15px 10px 10px 0;
}

.item .item-title {
    white-space: nowrap;
    overflow: hidden
}

.item .item-title a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.item .item-place, .item .item-date, .item .item-ticket-info {
    overflow: hidden;
    font-size: 12px;
}

.barcode_info, .barcode_info span {
    font-size: 12px;
    font-weight: bold!important;
}

.item-booking  {
    position: fixed;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    max-width: 800px;
}

.item-booking .booking-inner {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}


.item-booking .item-date {
    background: #dfdfdf;
    font-size: 20px;
    height: 32px;
    padding: 8px 4px 8px 20px;
    overflow: hidden;
}

.item-booking .item-date span {
    line-height: 32px;
    vertical-align: top;
}

.item-booking .ticket-inputs {
    padding: 10px 0px;
    width: calc(40% - 20px);
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.item-booking .ticket-inputs label {
    font-weight: bold; 
}

.item-booking .ticket-calc {
    float: left;
    width: calc(54% - 10px);
    height: 156px;
    padding: 10px 0px;
    margin-left: 10px; 
    margin-right: 10px;
}


.input-append.spinner {
    position: relative;
    height: 60px;
    width: 100%;
    border: 1px solid #d7d7d7;
    background: #d7d7d7;
    border-radius: 5px;
}

.input-append.spinner input {
    border: none;
    background: #d7d7d7;
    font-size: 50px;
    letter-spacing: 5px;
    display: block;
    margin: 0 auto;
    width: 2em;
}

.input-append.spinner .add-on a.spin-up, .input-append.spinner .add-on a.spin-down {
    position: absolute;
    right: -1px;
    text-decoration: none;
    height: 30.5px;
    background: #f5f5f5;
    padding: 0 5px;
    width: 30px;
    text-align: center;
    color: #333333;
    font-size: 20px;
}

.input-append.spinner .add-on a.spin-up {
    border-top-right-radius: 5px;
    top: -1px;
}
.input-append.spinner .add-on a.spin-down {
    border-bottom-right-radius: 5px;
    bottom: -1px;
}

.styled-select {
    position: relative;
    overflow: hidden;
    background: #D7D7D7;
    border-radius: 5px; 
}

.styled-select a {
    position: absolute;
    right: 0;
    height: 50%;
    background: #F5F5F5;
    width: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

.styled-select a.up {
    top: 0;
    background-image: url('./../images/sel-arrow-up.png');
}

.styled-select a.down {
    bottom: 0;
    background-image: url('./../images/sel-arrow-down.png');
}

.item-booking .ticket-type select {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    background: #D7D7D7;
    border: none;
    border-radius: 5px;
    background: transparent;
    -webkit-appearance: none;
}

.item-booking .ticket-calc .ticket-calc-inner {
    background-color: #ec746f;
    border-radius: 10px;
    height: 130px;
    width: 100%;
    padding: 10px;
}

.ticket-calc .ticket-calc-inner .ticket {
    font-size: 20px;
    color: #ffffff;
}

.ticket img.tickets-icon {
    width: 24px!important;
    vertical-align: text-bottom;
}

.ticket-calc-tbl {
    width: 100%;
}

.ticket-calc-tbl td {
    padding: 1%;
}

.ticket-calc-tbl tr td:first-child, .ticket-calc-tbl tr td:last-child {
    width: 48%;
}

.ticket-calc .ticket-calc-inner .total {
    font-size: 24px;
    color: #000000;
}
.ticket-calc .ticket-calc-inner .charing-points {
    font-size: 20px;
    color: #ffffff;
    padding: 0 2% 0 10%;
}

.charing-points img {
    width: 50px!important;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}


.ticket-date-big {
    width: 32px!important;
    margin-right: 10px;
}

.item-booking .ticket-date {
    color: #ec746f;
    font-size: 20px; 
    clear: both;
}

.item-booking .ticket-date span {
    font-weight: bold;
    padding-top: 10px;
    vertical-align: middle;
}

.item-booking .book-now {
    clear: both;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    background: #DFDFDF;
    color: #ffffff;
}

.item-booking .book-now .btn-book-now {
    width: calc(100% - 40px);
    margin: 0 auto;
    background: #1ed429;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
    font-weight: bold!important;
}

.card-info {
    max-width: 450px;
    width: 100%;
    margin: 10px auto;
}

.card-info input {
    background: #ffffff;
    color: #000000;
}


#share_item {
    background: #ffffff;
    overflow: hidden;
}

#share_item .item-image {
    position: relative;
}

#share_item .item-image #share_event_msg , #share_item .item-image #share_shop_msg {
    position: absolute;
    width: 300px;
    padding: 20px 10px;
    left: calc(50% - 150px);
    top: 30%;
    background: #ffffff;
    border-radius: 5px;
    color: #D5605E;
    font-size: 1.2em;
    text-align: center;
}

.sharing-buttons {
    margin: 30px auto;
    max-width: 400px;
    overflow: hidden;
}

.sharing-buttons a {
    float: left;
    width: 33%;
    text-align: center;
}

.sharing-buttons a > img {
    margin: 0 5px;
    max-width: 100px;
}


/* 9. Footer
-----------------------------------------------------------------------------------------------------------*/

[data-role=footer] {
    padding: 0 15px;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
}

@media all and (min-width: 481px) and (max-width: 800px) {
    #events .item, #shops .item, #favorites .item, #mytickets .item, #purchases .item {
        width: 49%;
        margin: .5em 0.5%;
        float: left;
    }

    .item-booking {
        margin-left: -8px;
        margin-right: 0px;
    }
}

@media all and (max-width: 480px) {
    #events .item, #shops .item, #favorites .item, #mytickets .item, #purchases .item {
        width: 100%;
        margin: .5em 0;
        float: left;
    }
    .item-booking {
        margin-left: -8px;
        margin-right: 0px;
    }

    .item-booking .item-date {
        font-size: 16px;
        height: 24px;
    }
    
    .item-booking .item-date span {
        vertical-align: bottom;
    }
    
    .item-booking .ticket-inputs label {
        font-size: 12px;
    }
    
    .ticket-date-big {
        width: 24px !important;
    }
    
    .charing-points img {
        width: 44px !important;
    }
    
    .item-booking .ticket-type select {
        font-size: 16px;
    }
    
    .ticket-calc .ticket-calc-inner .charing-points {
        padding-left: 5px;
        font-size: 16px;
    }
    .ticket-calc .ticket-calc-inner .ticket {
        font-size: 16px;
    }
    
    .item-booking .ticket-calc .ticket-calc-inner {
        height: 110px;
    }
    
    .ticket-calc .ticket-calc-inner .total {
        font-size: 20px;
    }
    
    .item-booking .ticket-calc {
        height: 132px;
    }
    .input-append.spinner input {
        font-size: 40px;
    }
    
    .item-booking .book-now {
        padding: 10px 0 5px 0;
    }
    
    .input-append.spinner {
        height: 48px;
    }
    
    .input-append.spinner .add-on a.spin-up, .input-append.spinner .add-on a.spin-down {
        height: 24.5px;
    }
}

@media all and (max-width: 380px) {
    .item-booking .ticket-inputs label {
        font-weight: normal;
        font-size: 11px;
    }
    .item-booking .ticket-type select {
        font-size: 12px;
    }
    .item-booking .ticket-type select {
        height: 34px;
    }
    .input-append.spinner {
        height: 40px;
    }
    .input-append.spinner .add-on a.spin-up, .input-append.spinner .add-on a.spin-down {
        height: 20.5px;
        font-size: 13px;
    }
    .item-booking .ticket-calc .ticket-calc-inner {
        height: 90px;
    }
    .input-append.spinner input {
        font-size: 32px;
    }
    .ticket-calc .ticket-calc-inner .ticket {
        font-size: 14px;
    }
    .item-booking .ticket-calc {
        width: calc(54% - 20px);
    }
    .ticket-calc .ticket-calc-inner .total {
        font-size: 16px;
    }
    .item-booking .ticket-calc {
        height: 112px;
    }
    .ticket img.tickets-icon {
        width: 18px!important;
    }
    .ticket-calc .ticket-calc-inner .charing-points {
        padding: 0;
        font-size: 14px;
    }
    .charing-points img {
        width: 36px!important;
        margin-right: 4px;
    }
}